<!doctype html>
<html>
<head>
<title> GPIO INPUT/OUTPUT </title>
<link type = "text/css" rel = "stylesheet" href="/static/style.css"/>
</head>
<body>
<p> </p>
<input type = "button" value = "Light on" style="WIDTH:200pt; HEIGHT:80pt; fone-size:50pt" onclick = "location.href='/led/on'";>
&nbsp; &nbsp; &nbsp; &nbsp;
<input type = "button" value = "Light off" style="WIDTH:200pt; HEIGHT:80pt; fone-size:50pt" onclick="location.href='/led/off'";>
<br/>
<p>LED is now <span id="state"> {{state}}</span> state.</p>
</body>
</html>
